{% extends "master.html" %}
{% load static %}
{% block titulo %}
<title>Cambio de contraseña exitoso</title>
{% endblock %}

{% block encabezado %}
Cambio de contraseña realizado para el usuario: {{ user.username }}
{% endblock %}

{% block cuerpo %}

{% if form.errors %}
    {% for error in form.errors %}
        <div class="w3-panel w3-pale-red w3-round-xlarge w3-border">
<p>{{ error }}</p>
    </div>
    {% endfor %}
{% endif %}

<div class="w3-container" style="width:50%">
<div class="w3-card-4">

<header class="w3-container w3-light-grey">
  <h3>{{ user.first_name }} {{ user.last_name }}</h3>
</header>

<div class="w3-container" >
  <p>{{ user.username }}</p>
  <hr>
  <img src="user" alt="Avatar" class="w3-left w3-circle">
  <p>..</p>
</div>

<a href="/"><button class="w3-button w3-block w3-dark-grey">Home</button></a>

</div>
</div>

{% endblock %}