{% extends "master.html" %}
{% block titulo %}
<title>Cambio de contraseña</title>
{% endblock %}

{% block encabezado %}
Cambio de contraseña para el usuario: {{ user.username }}
{% endblock %}

{% block cuerpo %}

{% if form.errors %}
    <div class="w3-panel w3-pale-red w3-round-xlarge w3-border">
<p>Your username and password didn't match. Please try again.</p>
    </div>
    {% for error in form.errors %}
        <div class="w3-panel w3-pale-red w3-round-xlarge w3-border">
<p>{{ error }}</p>
    </div>
    {% endfor %}
{% endif %}




<form method="post" action="{% url 'password_change' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.old_password.label_tag }}</td>
    <td>{{ form.old_password }}</td>
    <td>{{ form.old_password.help_text }}</td>
</tr>
<tr>
    <td>{{ form.new_password1.label_tag }}</td>
    <td>{{ form.new_password1 }}</td>
    <td>{{ form.new_password1.help_text }}</td>
</tr>
    <tr>
    <td>{{ form.new_password2.label_tag }}</td>
    <td>{{ form.new_password2 }}</td>
    <td>{{ form.new_password2.help_text }}</td>
</tr>
</table>
<br>
<input type="submit" value="cambiar">
<input type="hidden" name="next" value="{{ next }}">
</form>


{% endblock %}