{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block cuerpo %}
<div class="{{ color_fondo }}">

{% if form.errors %}
    <div class="w3-panel w3-yellow w3-card-4 w3-round-xlarge">  
<p>Los siguientes errores fueron encontrados:</p>
    </div>
    {% for error in form.errors %}
        <div class="w3-panel w3-orange w3-card-4 w3-round-xlarge"> 
        <p>{{ error }}</p>
        </div>
    {% endfor %}
{% endif %}

<form action method="post"  enctype="multipart/form-data">
    {% csrf_token %}
    {% crispy form %}
</form>
</div>
{% endblock %}